.Main > header {
    width: 100%;
    height: 4rem;

    display: flex;

    background-color: #1E1E1E;
    color: #BDBDBD;

    font-size: 1.25rem;
}

.Main > header .Logo {
    width: 2rem;
    margin-left: 1rem;
}

.Main > header span, a {
    margin-top: auto;
    margin-bottom: auto;
}

.Main > header .Title {
    font-weight: bold;
    margin-left: 1rem;
}

.Main > header .Path {
    cursor: pointer;
}
.Main > header .Path, .Main > header .PathDevider {
    margin-left: .3rem;
}