.Home {
    width: 100%;
    height: 100%;

    overflow: hidden;
}

.DashBoards {
    width: 90%;
    height: 25rem;
    
    display: flex;
    margin: auto;
    /* margin-top: 10%; */

    /* position: relative; */
    margin-top: 15rem;
}

@media screen and (max-width: 1500px) {
    .DashBoards {
        margin-top: 10rem;
    }
}