@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');


html, body, #root {
	/* overflow: hidden; */
	color: #BDBDBD;
	background-color: #252526;
	width: 100%;
	height: 100vh;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans KR', 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* #root {
	min-height: 100%;
} */

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.Main {
	display: flex;
	flex-direction: column;
	height: 100%;
}